/**
 * @color
 * @section 主色
 */
$basic-imp-color: #333333;
/**
 * @color
 * @section 主色
 */
$basic-bac-color: #eff3f6;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-color: #2b75c8;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-red-color: #d73e3e;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-yel-color: #ff9e36;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-ora-color: #ffc688;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-blue-color: #2d84e5;
/**
 * @color
 * @section 辅助色
 */
$basic-aid-gray-color: #f8f8fa;
/**
 * @color
 */
$basic-white-color: #ffffff;
/**
 * @color
 * @section 辅助色
 */
$basic-table-head-color: #e9e9eb;
$dark-table-head-color: #434343;

/**
 * @color
 * @section 边框色
 */
$basic-border-color: #e0e0e0;

$primaryDarkColor: #333333;
$primaryBlueColor: #3a7eea;
$primaryBgColor: #eff3f6;
$primaryBlueHoverColor: #2963c0;

$subRedColor: #d73e3e;
$subOrangeColor: #ff9e3b;
$subBrownColor: #ffc688;
$subBlueColor: #2d84e5;
$borderColor: #e0e2e1;
$subBgColor: #f8f8fa;

$menuBgColor: #3c4a5b;

$font-basic-size: 14px;

$font-size-16: 16px;

$font-size-12: 12px;

$font-color-base: $primaryDarkColor;
$font-color-normal: #666;
$font-color-low: #999;
