.whiteTopBar-wrap {
  height: 57px;
  background-color: $white;
  padding-left: 80px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid $border-width $border-color;
  box-shadow: $box-shadow-aidrug;
  .lft {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    line-height: 1;
    .title {
      margin-left: 10px;
    }
  }
}
