$box-padding: 10px !default;
.mgt10 {
  margin-top: $box-padding;
}
.mgb10 {
  margin-bottom: $box-padding;
}
.mgr10 {
  margin-right: $box-padding;
}
.mgl10 {
  margin-left: $box-padding;
}
.pdl10 {
  padding-left: $box-padding;
}
.pdr10 {
  padding-right: $box-padding;
}
.pdt10 {
  padding-top: $box-padding;
}
.pdb10 {
  padding-bottom: $box-padding;
}
